<div class="card">
    <h3>Pacijenti</h3>
    <div class="row mt">
        <input class="input" [(ngModel)]="lastName" placeholder="Unesite prezime" />
        <input class="input" [(ngModel)]="jmbg" placeholder="Unesite JMBG (13 cifara)" />
        <button class="btn ok" (click)="search()" [disabled]="loading">Pretraži</button>
    </div>
    <table class="table mt" *ngIf="items.length">
        <colgroup>
            <col style="width: 40%">
            <col style="width: 28ch">
            <col style="width: 22ch">
            <col style="width: 120px">
        </colgroup>
        <thead>
            <tr>
                <th>Ime i prezime</th>
                <th>Broj medicinskog kartona</th>
                <th>Kreirano</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let p of items">
                <td>{{ p.firstName }} {{ p.lastName }}</td>
                <td>{{ p.medicalRecordNumber }}</td>
         <td>{{ p.createdAt | date:'dd.MM.yyyy. HH:mm':'Europe/Belgrade':'sr-RS' }}</td>

                <td><button class="btn pri" (click)="open(p.id)">Otvori</button></td>
            </tr>
        </tbody>
    </table>
    <p *ngIf="!items.length" class="mt"><small class="muted">Još nema rezultata. Pokušajte pretragu.</small></p>
</div>