<div class="card">
  <h3>Novi pacijent</h3>

  <form [formGroup]="form" (ngSubmit)="submit()" class="grid" style="grid-template-columns:1fr 1fr;" novalidate>
 

    <div>
      <div class="label">Ime</div>
      <input class="input" formControlName="firstName" />
    </div>

    <div>
      <div class="label">Prezime</div>
      <input class="input" formControlName="lastName" />
    </div>

    <div>
      <div class="label">JMBG</div>
      <input
        class="input"
        formControlName="jmbg"
        inputmode="numeric"
        autocomplete="off"
        spellcheck="false"
        maxlength="13"
        placeholder="13 digits"
      />
<small class="muted"
       *ngIf="f['jmbg']?.touched && f['jmbg']?.invalid">
  JMBG must be exactly 13 digits.
</small>
    </div>

    <div>
      <div class="label">E-mail</div>
      <input class="input" type="email" formControlName="email" />
    </div>

    <div>
      <div class="label">Broj telefona</div>
      <input class="input" formControlName="phone" />
    </div>

    <div>
      <div class="label">Adresa</div>
      <input class="input" formControlName="address" />
    </div>
       <div>
      <div class="label">Broj zdravstvenog kartona</div>
      <input class="input" formControlName="medicalRecordNumber" />
    </div>

    <div style="grid-column:1/-1" class="mt">
      <button class="btn ok" type="submit" [disabled]="form.invalid || loading">Sačuvaj</button>
    </div>
  </form>
</div>
